@import 'ubuntu-font';
@import 'foundation6-5-cols';

$fontSize: 14px;

$lightBG: #ededed;

$fontColor: #fff;
$headerFooterBackground: #111;
//$headerFooterBackground: #333;
$headerFontColor: #fff;
$subMenuBackground: #666;
$bodyBackground: #333;
//$bodyBackground: #beb590;

$primaryBG: #dfab2d;
$primaryBGHover: #b48a25;
//$primaryBG: #444;
//$primaryBGHover: #555;
$primaryTextColor: #beb590;
$primaryActiveTextColor: #fff;

$primaryMenuAHover: #ccc;
$primaryMenuA: #fff;

$darkenedBG: rgba( 0, 0, 0, .25);
$darkenedGreenBG: rgba( 0, 33, 0, .25);

$secondaryBG: #ddd;
$secondaryBGHover: #eee;
$secondaryTextColor: #000;
$secondaryTextColorHover: #000;
$secondaryActiveTextColor: #fff;

body {
	background: $bodyBackground;
	color: $fontColor;
	font-size: $fontSize;
	font-family: 'Ubuntu', sans-serif !important;
	outline-color: invert !important;
	outline-color: $primaryBG !important;
	a {
		color: $primaryBG;
		&:active,
		&:visited {
			color: $primaryBG;
		}
		&:hover {
			color: $primaryBGHover;
		}
		outline-color: invert !important;
		outline-color: $primaryBG !important;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.7rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	h5 {
		font-size: 1.1rem;
	}
	h6 {
		font-size: 1rem;
	}
	.welcome-button {
		i {
			font-size: 3rem;
			display: block;
			margin: 0 0 .3rem 0;
		}
		span {
			font-size: 1.1rem;
		}
	}
	table {
		background: $headerFooterBackground;
		color: $primaryTextColor;
		width: 100%;

		border: none;
		font-size: $fontSize;
		tbody {
			border: none;
			padding: 3px;
		}
		thead {
			background: transparent !important;
			border: 0 !important;
			padding: 3px;
		}
		tr {
			td, th {
				margin: 0;
				padding: 2px 3px;
				background: $bodyBackground;
				border-bottom: 1px solid $headerFooterBackground;
				color: $primaryTextColor;
				text-align: left;
			}
			th {
				vertical-align: bottom;
				font-weight: 700;
			}
			td {
				vertical-align: top;
				&.button-container {
					width: 60px;
					height: 30px;
					button {
						margin: 0;
					}
				}
			}
			&.right-answer {
				background: #090;
				color: #fff;
				td {
					background: #090;
					color: #fff;
				}
			}
			&.wrong-answer {
				background: #900;
				color: #fff;
				td {
					background: #900;
					color: #fff;
				}
			}
		}
		&.installed-weapons {
			background: transparent;
			tbody {
				background: transparent;
				margin: 0;
				padding: 0;
				tr {
					padding: .25rem;
					border: 1px solid $primaryBG;
					background: $bodyBackground;
					color: $fontColor;
					margin-bottom: .25em !important;
					td {
						border: none;
					}
				}
			}

		}
		&.gear-list {
			background: transparent;
			tbody {
				margin: 0;
				padding: 0;
				tr {
					border-bottom: 3px solid $bodyBackground;
					background: $headerFooterBackground;
					color: #fff;
					margin: 0 0 3px 0;
					td {
						background: transparent !important;
						color: #fff;
						.equip-message {
							font-style: italic;
							color: $fontColor;
						}
					}

					&.no-bottom-border {
						border-bottom: 0 !important;
					}
				}
			}
		}
	}

	.main-content {
		margin: 1rem 0;
	}
	.attribute-select {
		h4 {
			display: inline-block;
			width: 50%;
		}
		select {
			display: inline-block;
			width: 40%;
			text-align: center;
			margin: 0 0 5px 5px;

		}
	}

	.sub-nav-tab {
		text-align: center;
		//border-bottom: 2px solid $primaryBG;
		margin: 0 auto 2px auto;
		list-style: none;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		li {
			list-style: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: top;
			a {
				display: inline-block;
				vertical-align: top;
				width: 64px;
				padding: .25rem .5rem;
				margin: 0;
				color: $primaryBG;
				font-size: .7em;
				border-radius: 5px;
				i {
					font-size: 3.5em;
				}
			}
			&.active {
				a {
					background-color: $primaryBG;
					color: $primaryActiveTextColor;
				}
			}
		}
	}


	.trait-fieldset {
		min-height: 275px;
	}

	.gear-search-bar {
		position: fixed;
		left: 0;
		top: 0;
		background: $headerFooterBackground;
		border-bottom: solid 2px $primaryBG;
		color: #fff;
		width: 100%;
		padding: 2px 0;
		label {
			color: #fff;
		}

	}
	.gear-margin-top {
		margin-top: 50px;
	}
	.item-added-message {
		padding: 0 30px;
		text-align: center;
		color: $primaryBG;
	}
	.status-bar {
		position: fixed;
		left: 0;
		bottom: 0;
		background: $headerFooterBackground;
		border-top: solid 2px $primaryBG;
		color: #fff;
		width: 100%;
		padding: 2px 0;
		.separator {
			color: $primaryBG;
			font-weight: bold;
		}
	}

	.button {
		// background-color: $secondaryBG;
		// color: $secondaryTextColor;

		// &:active,
		// &:visited {
		// 	background-color: $secondaryBG;
		// 	color: $secondaryTextColor;
		// }
		// &:hover {
		// 	background-color: $primaryBGHover;
		// 	color: $primaryTextColor;
		// }
		// margin-bottom: 0 !important;

		&.primary {
			background-color: $primaryBG;
			color: $primaryActiveTextColor;
			outline-color: invert !important;
			outline-color: $secondaryBG !important;

			&:active,
			&:visited {
				background-color: $primaryBG;
				color: $primaryActiveTextColor;
			}
			&:focus,
			&:hover {
				background-color: $primaryBGHover;
				color: $primaryActiveTextColor;
			}
		}
		&.secondary {
			background-color: $secondaryBG;
			color: $secondaryTextColor;
			outline-color: invert !important;
			outline-color: $primaryBG !important;
			&:active,
			&:visited {
				background-color: $secondaryBG;
				color: $secondaryTextColor;
			}
			&:focus,
			&:hover {
				background-color: $secondaryBGHover;
				color: $secondaryTextColor;

			}
		}
	}
	select,
	textarea,
	input[type=text],
	input[type=number] {
		background-color: $lightBG;
		resize: none;
	}
	option[disabled], option:disabled {
		color: #aaa;
	}

	.input-tighter-padding {
		padding: 0 .5rem !important;
		height: 1.5rem !important;
	}

	.creator-preview {
		background: $secondaryBG;
		color: #333;
		padding: 10px;
		p, h3 {
			margin: 0;
			padding: 0;
		}
	}

	header {
		background: $headerFooterBackground;
		color: $headerFontColor;
		font-size: 2rem;
		margin: 0;
		overflow: hidden;
		&.cordova {
			padding: 1rem 0 0 0;
		}
		h1 {
			a {
				color: $fontColor;
			}
			font-size: 2rem;
			padding: 0;
			margin: 0;
		}
		h2 {
			a {
				color: $fontColor;
			}
			font-size: 1rem;
			padding: 0;
			margin: 0;
		}

		.sub-menu {
		}
		.app-menu {

			a {
				color: $primaryMenuA;
				&:hover {
					color: $primaryMenuAHover;
				}
			}
		}
	}

	footer {
		background: $headerFooterBackground;
		color: $headerFontColor;
		padding: 1rem;
		margin: 1rem 0 0 0;
		color: $fontColor;
	}
	label {
		color: $fontColor;
	}
	.fieldset {
		color: $fontColor;
		padding: 0 1.25rem 1.25rem 1.25rem;
		margin: 0 0 1.25rem 0;
		border-radius: 5px;
		border-color: $primaryBG;
		legend {
			background: transparent;
			color: $primaryBG;
			padding: 0 .5rem;
			font-size: 1.4rem;
			font-weight: 500;
			white-space: nowrap;
		}
		&.regular-padding {
			padding: 1.25rem;
		}

	}

	.small-text {
		font-size: .7em;
	}
	.sidebar-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			a {
				.title {
					font-size: 20px;
				}
				.subtitle {
					font-size: 11px;
				}
			}
		}
	}
	.checkbox-spacer {
		display: inline-block;
		width: 20px;
		margin: 0 0 10px 0;
	}
	.mech-status-bar {
		text-align: right;
		margin-bottom: 5px;
		font-size: 12px;
	}
	.next-button {
		margin: 2rem 0 0 0;
		float: right;
	}

	.inside-fieldset  {
		margin: -20px 0 0 0 !important;
	}

	.fieldset-stat  {
		margin: 0 !important;
		padding: 5px !important;
		text-align: center;
		select {
			width: 60px;
			height: 50px;
			font-size: 17px;
		}
		h4 {
			margin: 0 !important;
		}
	}
	.no-edges-available {
		margin-bottom: 10px;
	}
	.edges-hindrances {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			background: $subMenuBackground;
			color: $primaryActiveTextColor;
			overflow: hidden;
			list-style: none;
			border-radius: 3px;
			margin: 0 0 2px 0;
			padding: 0;
			.item-label {
				margin: 3px 0 0 5px;
				display: block;
			}
			.racial {
				float: right;
				margin: 3px 5px 0 0;
			}
			button {
				float: right;
				margin: 0;
				outline: none;
				&.edit-button {
					float: left;
					margin-right: 3px;
				}
			}
		}
	}
}

.xp-label {
	margin: 0 0 10px 0;
	select {
		display: inline-block;
		width: auto;
		margin: 0 10px 0 0;
	}
	h4 {
		display: inline-block;
		width: auto;
		margin: 0 10px 0 0;
		padding: 0;
	}
}

.inline-block {
	display: inline-block;
	width: auto;
}

.skill-entry {
	overflow: hidden;
	margin: 0 0 2px 0;
	border-radius: 3px;
	background: $subMenuBackground;
	//background: #fff;
	span {
		padding: 3px 5px;
		display: inline-block;
	}
	h5 {
		margin: 0;
		text-align: center;
	}
	.controls {
		float: right;
		button {
			outline: none;
			margin: 0;
		}
	}
	.specialty-skill {
		margin: 5px 0 2px 10px;
		padding: 2px;

		input[type="text"] {
			margin: 0;
			font-size: 12px;
			padding: 4px 5px;
			line-height: 12px;
			height: auto;
		}

	}
}
.ng-cloak {
	display: none;
}
.no-outline  {
	outline: 0 !important;
}

button.radius, .button.radius {
    border-radius: 3px;
}
button.round, .button.round {
    border-radius: 1000px;
}
.extras-results {
	.result-entry {
		border-top: 1px solid $primaryBG;
		margin-top: 20px;
		padding-top: 20px;
		&:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}
		.copyright-box {
			margin-top: 10px;
			background: $secondaryBG;
			color: #333;
			padding: 5px 10px;
		}
	}



}
.no-bottom-margin {
	margin-bottom: 0;
}
.overflow-hidden {
	overflow: hidden;
}

.plus-minus-placeholder {
	width: 27px;
	height: 27px;
}
.modal-container {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: scroll;
	.reveal {
		color: $headerFontColor;
		background: $headerFooterBackground;
		border: 2px solid $headerFontColor;
		border-radius: 1rem;
		width: 80%;
		// max-width: 100%;
		display: block;
		top: 30px;
		left: 50%;
		margin-left: -40%;
		margin-bottom: 30px;
		label {
			color: $headerFontColor;
		}
	}

}
.catalog-status {
	list-style: none;
	font-size: .7rem;
	margin: 0 0 10px 0 ;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.reveal-modal{
    position : fixed;
}
// yeah, yeah bad pun is punny
.even-modaler {
	z-index: 2000 !important;
}
.no-wrap {
	white-space: nowrap;
}
.language-select {
	outline: none;
	border: solid 1px #999;
	background: #666;
	color: $lightBG;
	width: auto;
	padding: 0 25px 0 50px;
	background-repeat: no-repeat;
	background-position: center left;
    background-size: 25% auto;
    background-position-x: 5%;
}

.spc-power-item {
	textarea {
		height: 300px;
		width: 100%;
	}

	.spc-power-options {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		li {
			list-style: none;
			display: block;
			padding: 2px 5px;
			margin: 0 0 2px 0;
			background: rgba( 0,0,0, .5);
			input {
				margin: 0 10px 0 0;
			}
			label {
				margin: 0;
			}


		}

	}
}
