
			<button ng-click="newDialog()" class="primary small button no-bottom-margin" translate="GENERAL_NEW">New</button>
			<button ng-click="makePDF()" class="primary small button no-bottom-margin" translate="GENERAL_PDF">PDF</button>
			<button ng-click="loadDialog()" class="primary small button no-bottom-margin" translate="GENERAL_LOAD">Load</button>
			<button ng-click="saveDialog()" class="primary small button no-bottom-margin" translate="GENERAL_SAVE">Save</button>
			<button ng-click="importDialog()" class="primary small button no-bottom-margin" translate="GENERAL_IMPORT">Import</button>
			<button ng-click="exportDialog()" class="primary small button no-bottom-margin" translate="GENERAL_EXPORT">Export</button>
			<button ng-click="optionsDialog()" class="primary small button no-bottom-margin" translate="GENERAL_BOOKS">Books</button>
