<div class="skill-entry">
	<span ng-bind="skill.local_name">SkillName</span>
	<span ng-show="skill.displayValue" ng-bind="skill.displayValue">dXX</span>
	<div class="controls">
		<div ng-hide="skill.specify > 0">
			<button ng-show="skill.value > 0" ng-click="decrementSkill(skill.id)" class="button tiny primary">-</button>
			<button ng-show="skill.value < 5" ng-click="incrementSkill(skill.id)" class="button tiny primary">+</button>
		</div>
		<div ng-show="skill.specify > 0">
			<button ng-click="addSpecialtySkill(skill.id)" class="button tiny primary" translate="GENERAL_ADD">Add</button>
		</div>
	</div>

	<div ng-show="skill.specialties.length > 0">
<!-- 		<h5 translate="CHARGEN_SPECIALIZATIONS">Sub Skills</h5> -->
		<div class="specialty-skill" ng-repeat="specialty in skill.specialties track by $index">
			<input placeholder="{{specializionPlaceholder}}" type="text" ng-model="specialty.name" ng-keyup="updateSpecialtySkillName(skill.id, $index, specialty.name)" />
			<div class="controls">
				<span ng-show="specialty.displayValue" ng-bind="specialty.displayValue">dXX</span>

				<button ng-click="decrementSpecialtySkill(skill.id, $index)" class="button tiny primary">-</button>

				<button ng-show="specialty.value < 5" ng-click="incrementSpecialtySkill(skill.id, $index)" class="button tiny primary">+</button>
			</div>

		</div>
	</div>
</div>