<div class="modal-container" ng-show="optionsDialogOpen == true">
	<div class="reveal">

	  <p class="lead" translate="CHARGEN_BOOKS_DIALOG">Books Dialog</p>
			<div ng-repeat="book in savageCharacter.books track by $index">
				<label>
					<input ng-hide="savageCharacter.books[$index].id == 1" type="checkbox" ng-model="savageCharacter.books[$index].inUse" ng-change="updateBook($index)">
					<span ng-show="savageCharacter.books[$index].id == 1" class="checkbox-spacer">✓</span>
					<span ng-bind="book.local_name"></span>
				</label>
				<!-- <p ng-bind-html="book.local_description"></p> -->
			</div>
			<div ng-show="creator_options.length == 0" translate="CHARGEN_NO_BOOKS_AVAILABLE"></div>
	  <div class="text-right">

	  	<button class="button small primary" ng-click="closeDialogs()"  type="button" translate="GENERAL_CLOSE"></button>
	  </div>
	</div>
</div>
