
<div ng-include="'pages/chargen-dialog-new.html'"></div>
<div ng-include="'pages/chargen-dialog-load.html'"></div>
<div ng-include="'pages/chargen-dialog-save.html'"></div>
<div ng-include="'pages/chargen-dialog-import.html'"></div>
<div ng-include="'pages/chargen-dialog-export.html'"></div>
<div ng-include="'pages/chargen-dialog-books.html'"></div>
<div ng-include="'pages/chargen-dialog-validation.html'"></div>
<div ng-include="'pages/dialog-confirm.html'"></div>
<div ng-include="'pages/dialog-notify.html'"></div>
<div ng-include="'pages/chargen-dialog-add-edit-power.html'"></div>

<div ng-include="'pages/chargen-status-bar.html'"></div>
<div class="main-content">
	<div class="row">
		<div class="column small-12">
		<div ng-include="'pages/chargen-nav-menu.html'"></div>
		<fieldset class="fieldset">
			<legend translate="CHARGEN_CHARACTER_INFORMATION">Character Information</legend>

			<div class="row">

			  	<div class="small-12 columns">
			  		<label><span translate="GENERAL_NAME">Name</span>:
			  			<input type="text" ng-model="characterName" ng-change="updateName(characterName)" ng-keyup="updateName(characterName)" />
			  		</label>
			  	</div>
			</div>
			<div class="row">

			  	<div class="small-12 medium-6 columns">

			  		<label><span translate="GENERAL_RACE">Race</span>:
			  			<select ng-options="raceItem as raceItem.local_name group by raceItem.bookObj.local_name for raceItem in savageCharacter.getRaceOptions() track by raceItem.id" ng-model="selectedRace" ng-change="updateRace(selectedRace)"></select>
			  		</label>
			  		<label><span translate="GENERAL_DESCRIPTION">Description</span>:
			  			<textarea rows=4 ng-model="characterDescripton" ng-keyup="updateDescription( characterDescripton )"></textarea>
			  		</label>
			  	</div>

			  	<div class="small-12 medium-6 columns">
			  		<label><span translate="GENERAL_GENDER">Gender</span>:
			  			<select ng-options="genderItem as genderItem.label for genderItem in savageCharacter.getGenderOptions() track by genderItem.id" ng-model="selectedGender" ng-change="updateGender(selectedGender)"></select>
			  		</label>

			  		<label><span translate="GENERAL_BACKGROUND">Background</span>:
			  			<textarea rows=4 ng-model="characterBackground" ng-keyup="updateBackground( characterBackground )"></textarea>
			  		</label>
			  	</div>
			</div>
			</fieldset>
		</div>
	</div>
	<div class="row">

	  	<div class="small-12 medium-12 columns">
			<div ng-show="savageCharacter.knownLanguagesLimit > 0">
				<fieldset class="fieldset">
					<legend translate="CHARGEN_KNOWN_LANGUAGES">Known Languages</legend>
					<label>
						<span translate="CHARGEN_CULT_NAT_LANG">Cultural/National Language</span>
						<input type="text" ng-model="savageCharacter.knownLanguages[0]" ng-keyup="justSave()" />
					</label>
					<div ng-show="savageCharacter.knownLanguagesLimit > 1">
						<h4><span translate="CHARGEN_ADDITIONAL_LANGS">Additional Languages</span> ({{savageCharacter.knownLanguagesLimit - 1}})</h4>

						<div ng-repeat="langNumber in makeRange(1, savageCharacter.knownLanguagesLimit - 1)">
							<input type="text" ng-model="savageCharacter.knownLanguages[ langNumber ]" ng-keyup="justSave()" />
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

	<div class="bottom-status-padding">&nbsp;</div>
</div>
