<div class="sub-menu">
	<div class="row">
		<div class="column small-12">
			<button ng-click="newDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_NEW">New</button>
			<button ng-click="printDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_PRINT">Print</button>
			<button ng-click="loadDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_LOAD">Load</button>
			<button ng-click="saveDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_SAVE">Save</button>
			<button ng-click="importDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_IMPORT">Import</button>
			<button ng-click="exportDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_EXPORT">Export</button>
			<button ng-click="optionsDialog()" class="secondary small button no-bottom-margin" translate="GENERAL_BOOKS">Books</button>
		</div>
	</div>
</div>
<div ng-include="'pages/chargen-dialog-new.html'"></div>
<div ng-include="'pages/chargen-dialog-load.html'"></div>
<div ng-include="'pages/chargen-dialog-save.html'"></div>
<div ng-include="'pages/chargen-dialog-import.html'"></div>
<div ng-include="'pages/chargen-dialog-export.html'"></div>
<div ng-include="'pages/chargen-dialog-books.html'"></div>
<div ng-include="'pages/chargen-dialog-validation.html'"></div>
<div ng-include="'pages/dialog-confirm.html'"></div>


<div ng-include="'pages/chargen-status-bar.html'"></div>
<div class="main-content">
	<div class="row">
		<div class="column small-12">
<!-- 			<h2 translate="INDEX_BUTTON_CORE_CHAR">Character Creator</h2> -->
<!-- 			<div class="creator-preview" ng-bind-html="creator_preview"></div> -->
		<fieldset class="fieldset">
			<legend translate="CHARGEN_CHARACTER_INFORMATION">Character Information</legend>

			<div class="row">

			  	<div class="small-12 columns">
			  		<label><span translate="GENERAL_NAME">Name</span>:
			  			<input type="text" ng-model="savageCharacter.name" ng-keyup="justSave()" />
			  		</label>
			  	</div>
			</div>
			<div class="row">

			  	<div class="small-12 medium-6 columns">


			  		<label><span translate="GENERAL_RACE">Race</span>:
			  			<select ng-options="raceItem as raceItem.local_name group by raceItem.bookObj.local_name for raceItem in savageCharacter.raceOptions track by raceItem.id" ng-model="savageCharacter.race" ng-change="validateAndSave()"></select>
			  		</label>
			  		<label><span translate="GENERAL_DESCRIPTION">Description</span>:
			  			<textarea rows=4 ng-model="savageCharacter.description" ng-keyup="justSave()"></textarea>
			  		</label>
			  	</div>

			  	<div class="small-12 medium-6 columns">
			  		<label><span translate="GENERAL_GENDER">Gender</span>:
			  			<select ng-options="genderItem as genderItem.label for genderItem in savageCharacter.genderOptions track by genderItem.id" ng-model="savageCharacter.gender" ng-change="justSave()"></select>
			  		</label>

			  		<label><span translate="GENERAL_BACKGROUND">Background</span>:
			  			<textarea rows=4 ng-model="savageCharacter.background" ng-keyup="justSave()"></textarea>
			  		</label>
			  	</div>
			</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="column small-12">
			<fieldset class="fieldset">
				<legend translate="GENERAL_ATTRIBUTES">Attributes</legend>

				<div class="row">

				  <div class="small-6 medium-2-5 columns text-center">

					<fieldset class="fieldset-stat fieldset text-center">
						<legend translate="ATTRIBUTE_AGILITY">Agility</legend>
				    	<select ng-options="diceItem as diceItem.local_label for diceItem in diceValues track by diceItem.id" ng-model="savageCharacter.attributes.agility" ng-change="validateAndSave()">
				    	</select>
				    </fieldset>
				  </div>
				  <div class="small-6 medium-2-5 columns text-center">

					<fieldset class="fieldset-stat fieldset text-center">
						<legend translate="ATTRIBUTE_SMARTS">Smarts</legend>
				    	<select ng-options="diceItem as diceItem.local_label for diceItem in diceValues track by diceItem.id" ng-model="savageCharacter.attributes.smarts" ng-change="validateAndSave()">
				    	</select>
				    </fieldset>
				  </div>
				  <div class="small-6 medium-2-5 columns text-center">

					<fieldset class="fieldset-stat fieldset text-center">
						<legend translate="ATTRIBUTE_SPIRIT">Spirit</legend>
				    	<select ng-options="diceItem as diceItem.local_label for diceItem in diceValues track by diceItem.id" ng-model="savageCharacter.attributes.spirit" ng-change="validateAndSave()">
				    	</select>
				    </fieldset>
				  </div>
				  <div class="small-6 medium-2-5 columns text-center">

					<fieldset class="fieldset-stat fieldset text-center">
						<legend translate="ATTRIBUTE_STRENGTH">Strength</legend>
				    	<select ng-options="diceItem as diceItem.local_label for diceItem in diceValues track by diceItem.id" ng-model="savageCharacter.attributes.strength" ng-change="validateAndSave()">
				    	</select>
				    </fieldset>
				  </div>
				  <div class="small-6 medium-2-5 columns text-center">

					<fieldset class="fieldset-stat fieldset text-center">
						<legend translate="ATTRIBUTE_VIGOR">Vigor</legend>
				    	<select ng-options="diceItem as diceItem.local_label for diceItem in diceValues track by diceItem.id" ng-model="savageCharacter.attributes.vigor" ng-change="validateAndSave()">
				    	</select>
				    </fieldset>
				  </div>

				</div>

			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="column small-12">
			<fieldset class="fieldset">
				<legend translate="GENERAL_DERIVED">Derived Stats</legend>
				<div class="row">

					<div class="column small-6 medium-4 large-2">
						<fieldset class="fieldset-stat fieldset text-center">
							<legend translate="GENERAL_PACE"></legend>
							<h4 ng-bind-html="savageCharacter.derived.pace"></h4>
						</fieldset>
					</div>
					<div class="column small-6 medium-4 large-2">
						<fieldset class="fieldset-stat fieldset text-center">
							<legend translate="GENERAL_PARRY"></legend>
							<h4 ng-bind-html="savageCharacter.derived.parry"></h4>
						</fieldset>
					</div>
					<div class="column small-6 medium-4 large-2">
						<fieldset class="fieldset-stat fieldset text-center">
							<legend translate="GENERAL_TOUGHNESS"></legend>
							<h4 ng-bind-html="savageCharacter.derived.toughness"></h4>
						</fieldset>
					</div>
					<div class="column small-6 medium-4 large-2">
						<fieldset class="fieldset-stat fieldset text-center">
							<legend translate="CREATOR_ARMOR"></legend>
							<h4 ng-bind-html="savageCharacter.derived.armor"></h4>
						</fieldset>
					</div>
					<div class="column small-6 medium-4 large-2">
						<fieldset class="fieldset-stat fieldset text-center">
							<legend translate="GENERAL_CHARISMA"></legend>
							<h4 ng-bind-html="savageCharacter.derived.charisma"></h4>
						</fieldset>
					</div>
					<div class="column small-6 medium-4 large-2">
						<fieldset ng-show="savageCharacter.usesSanity" class="fieldset-stat fieldset text-center">
							<legend translate="GENERAL_SANITY"></legend>
							<h4 ng-bind-html="savageCharacter.derived.sanity"></h4>
						</fieldset>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="column small-12">
			<fieldset class="fieldset">
				<legend translate="GENERAL_SKILLS">Skills</legend>

				<div class="row">
					<div class="small-12 medium-6 large-3 columns">
						<fieldset class="fieldset">
							<legend translate="ATTRIBUTE_AGILITY">Agility Skills</legend>
							<div ng-repeat="skill in savageCharacter.agilitySkills" ng-include="'pages/chargen-skill-item.html'"></div>
						</fieldset>
					</div>
					<div class="small-12 medium-6 large-3 columns">
						<fieldset class="fieldset">
							<legend translate="ATTRIBUTE_SMARTS">Smarts Skills</legend>
							<div ng-repeat="skill in savageCharacter.smartsSkills" ng-include="'pages/chargen-skill-item.html'"></div>
						</fieldset>
					</div>
					<div class="small-12 medium-6 large-3 columns">
						<fieldset class="fieldset">
							<legend translate="ATTRIBUTE_SPIRIT">Spirit Skills</legend>
							<div ng-repeat="skill in savageCharacter.spiritSkills" ng-include="'pages/chargen-skill-item.html'"></div>
						</fieldset>
					</div>
					<div class="small-12 medium-6 large-3 columns">
						<fieldset class="fieldset">
							<legend translate="ATTRIBUTE_STRENGTH">Strength Skills</legend>
							<div ng-repeat="skill in savageCharacter.strengthSkills" ng-include="'pages/chargen-skill-item.html'"></div>
						</fieldset>
					</div>
				</div>

			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-4">
			<fieldset class="fieldset">
				<legend translate="GENERAL_HINDRANCES">Hindrances</legend>
			</fieldset>
		</div>
		<div class="column small-12 medium-4">
			<fieldset class="fieldset">
				<legend translate="GENERAL_PERKS">Perks</legend>
			</fieldset>
		</div>
		<div class="column small-12 medium-4">
			<fieldset class="fieldset">
				<legend translate="GENERAL_EDGES">Edges</legend>
			</fieldset>
		</div>
	</div>
</div>
