<div ng-include="'pages/chargen-dialog-new.html'"></div>
<div ng-include="'pages/chargen-dialog-load.html'"></div>
<div ng-include="'pages/chargen-dialog-save.html'"></div>
<div ng-include="'pages/chargen-dialog-import.html'"></div>
<div ng-include="'pages/chargen-dialog-export.html'"></div>
<div ng-include="'pages/chargen-dialog-books.html'"></div>
<div ng-include="'pages/chargen-dialog-validation.html'"></div>
<div ng-include="'pages/dialog-confirm.html'"></div>
<div ng-include="'pages/dialog-notify.html'"></div>
<div ng-include="'pages/chargen-dialog-add-edit-power.html'"></div>

<div ng-include="'pages/chargen-status-bar.html'"></div>
<div class="main-content">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div ng-include="'pages/chargen-nav-menu.html'"></div>

<!--
					<fieldset class="fieldset">
						<legend>Coming Soon</legend>
						<p class="text-center no-bottom-margin">This is a WORK IN PROGRESS. Things here may or may not work as expected. Cyberware is coming!</p>
					</fieldset>
-->

				<div class="row">

<!--
					<div class="columns small-12 text-center">
					<fieldset class="fieldset" style="padding: 30px;">
						<legend>Coming Soon</legend>
						<i style="font-size: 300px" class="fa fa-hourglass-2"></i>
						<h3>under construction</h3>

					</fieldset>
					</div>
-->
					<div class="columns medium-6 text-left">
						<fieldset class="fieldset" style="padding: 30px;">
							<legend translate="CHARGEN_AVAILABLE_CYBERWARE">Available Cyberware</legend>

							<table>

								<thead>
									<tr>
										<th translate="GENERAL_NAME">Name</th>
										<th translate="CHARGEN_STRAIN_COST">Strain Cost</th>
										<th translate="GENERA_MAXIMUM_ABBR">Max</th>
										<th translate="GENERAL_COST">Cost</th>

										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cyberware in savageCharacter.getAvailableCyberware() track by $index">
										<td>{{cyberware.local_name}}</td>
										<td>{{cyberware.getStrainCost()}}</td>
										<td>{{cyberware.getMax()}}</td>

										<td ng-hide="cyberware.perRank">${{addCommas(cyberware.getCost())}}</td>
										<td ng-show="cyberware.perRank">${{addCommas(cyberware.getCost())}} / rank</td>

										<td class="text-right"><button ng-hide="savageCharacter.cyberwareAvailable(cyberware.tag) == false" ng-click="installCyberware( cyberware.tag ) " class="button primary tiny no-bottom-margin "><i class="fa fa-plus "></i></button></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>


					<div class="columns medium-6 text-left">
					<fieldset class="fieldset">
						<legend translate="GENERAL_STRAIN">Strain</legend>
						<div class="row">
							<div class="columns small-6 text-center">
								<h4 class="no-bottom-margin"><strong><span class="GENERAL_CURRENT">Current</span></strong>: {{savageCharacter.getDerived().currentStrain}}</h4>

							</div>
							<div class="columns small-6 text-center">
								<h4 class="no-bottom-margin"><strong><span class="GENERAL_LIMIT">Limit</span></strong>: {{savageCharacter.getDerived().strain}}</h4>
							</div>
						</div>
					</fieldset>
						<fieldset class="fieldset" style="padding: 30px;">
							<legend translate="CHARGEN_INSTALLED_CYBERWARE">Installed Cyberware</legend>

							<table>

								<thead>
									<tr>
										<th>&nbsp;</th>
										<th translate="GENERAL_NAME">Name</th>
										<th translate="CHARGEN_STRAIN_COST">Strain Cost</th>
										<th translate="GENERAL_COST">Cost</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cyberware in savageCharacter.getInstalledCyberware() track by $index">
										<td class="text-left"><button  ng-click="removeCyberware( $index ) " class="button primary tiny no-bottom-margin "><i class="fa fa-trash "></i></button></td>

										<td>
											<input type="text" class="no-bottom-margin" ng-model="cyberware.customName" ng-keyup="setCyberCustomName($index, cyberware.customName)" placeholder="Custom Name" />
											<div class="text-right">{{cyberware.local_name}}</div>
											<div ng-show="cyberware.chooseAttribute">
												<select ng-model="cyberware.option1" ng-change="setCyberOption1( $index,cyberware.option1)">
													<option value="" translate="CHARGEN_CYBER_CHOOSE_ATTRIBUTE">- Choose an Attribute -</option>
													<option value="agility" translate="ATTRIBUTE_AGILITY">agility</option>
													<option value="smarts" translate="ATTRIBUTE_SMARTS">smarts</option>
													<option value="spirit" translate="ATTRIBUTE_SPIRIT">spirit</option>
													<option value="strength" translate="ATTRIBUTE_STRENGTH">strength</option>
													<option value="vigor" translate="ATTRIBUTE_VIGOR">vigor</option>
												</select>

											</div>

											<div ng-show="cyberware.chooseRangedWeapon">
												<select
													class="inline-block no-bottom-margin"
													ng-click="justSave()"
													ng-model="cyberware.option1"
													ng-options="item as item.label for item in savageCharacter.getCyberWeaponOptions() track by $index"
												></select>
											</div>

											<div ng-show="cyberware.selectSkill">
												{{cyberware.option1}}
												<select
													class="no-bottom-margin"
													ng-change="setCyberOption1( $index, cyberware.option1 )"
													ng-model="cyberware.option1"
													ng-options="item.id as item.local_name for item in savageCharacter.getAllSkills()  | filter:filterNoSpecialties(skillItem.option1) "
												></select>

												<input class="no-bottom-margin" type="text" ng-model="cyberware.option2" placeholder="{{specializionPlaceholder}}" ng-keyup="setCyberOption2($index, cyberware.option2)" ng-show="cyberware.option1 == 'SKILL_KNOWLEDGE'" />
											</div>

<!--
											<div ng-show="cyberware.selectTrait">
												<select
													class="inline-block no-bottom-margin"
													ng-change="justSave()"
													ng-model="cyberware.option1"
													ng-options="item as item.label for item in savageCharacter.getCyberTraitList() track by $index"
												></select>
											</div>
-->

											<div ng-show="cyberware.maxRanks">
												<label>
													Bonus:
													<select
														style="width: 3em"
														class="inline-block no-bottom-margin"
														ng-change="setCyberOption3($index, cyberware.option3)"
														ng-model="cyberware.option3"
														ng-options="rank for rank in makeRange(1,cyberware.maxRanks)"
													></select>
												</label>
											</div>


											<div ng-show="cyberware.sciFiMeleeWeapon">
												<select class="inline-block no-bottom-margin" ng-click="setCyberOption1($index, cyberware.option1 )" ng-model="cyberware.option1">
													<option value="">No Modifictions</option>
													<option value="vibro" translate="SCIFI_VIBRO">Vibro</option>
													<option value="chain" translate="SCIFI_CHAIN">Chain</option>
													<option value="energy" translate="SCIFI_ENEGY">Energy</option>
													<option value="molec" translate="SCIFI_MOLECULAR">Molecular</option>
													<option value="power" translate="SCIFI_POWER">Power</option>
													<option value="stun" translate="SCIFI_STUN">Stun</option>
												</select>
											</div>

											<div ng-show="cyberware.chooseCombatEdge">
												<select
													ng-options="item as item.local_name for item in savageCharacter.getCombatEdges($index)"
													ng-model="cyberware.selectedEdge"
													ng-change="setCombatEdge( $index, cyberware.selectedEdge )"
												></select>
											</div>

										</td>
										<td>{{cyberware.getStrainCost()}}</td>

										<td>${{addCommas(cyberware.localCost)}}</td>

									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>

				</div>

		</div>
	</div>
</div>
