
<div ng-include="'pages/chargen-dialog-new.html'"></div>
<div ng-include="'pages/chargen-dialog-load.html'"></div>
<div ng-include="'pages/chargen-dialog-save.html'"></div>
<div ng-include="'pages/chargen-dialog-import.html'"></div>
<div ng-include="'pages/chargen-dialog-export.html'"></div>
<div ng-include="'pages/chargen-dialog-books.html'"></div>
<div ng-include="'pages/chargen-dialog-validation.html'"></div>
<div ng-include="'pages/dialog-confirm.html'"></div>
<div ng-include="'pages/dialog-notify.html'"></div>

<!-- <div ng-include="'pages/chargen-dialog-gear-list.html'"></div> -->

<div ng-include="'pages/chargen-status-bar.html'"></div>
<div class="main-content">
	<div class="row">
		<div class="column small-12">
	 		<div ng-include="'pages/chargen-nav-menu.html'"></div>
			<fieldset class="fieldset">
				<legend translate="GENERAL_GEAR">Gear</legend>
					<a class="button tiny radius expanded primary" ng-click="clearGearLog()" href="#/core/character-maker-gear-list" translate="CHARGEN_ADD_GEAR">Add Gear</a>

					<div ng-show="savageCharacter.selectedMundaneGear.length > 0">
						<table class="gear-list">
							<thead>
								<tr>
									<th>Name</th>
									<th>Cost</th>
									<th>Weight</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class="no-bottom-border" ng-repeat-start="gearItem in savageCharacter.selectedMundaneGear">
									<td>{{gearItem.local_name}}<span ng-show="gearItem.count > 1"> (x{{gearItem.count}})</span></td>
									<td>
										<div ng-show="gearItem.purchaseCost != gearItem.cost">
											<div ng-show="gearItem.purchaseCost == 0">
												<span class="alert label" translate="GENERAL_PURCHASED_FREE"></span>
											</div>
											<div ng-show="gearItem.purchaseCost != 0">
												${{gearItem.totalPurchaseCost}}
												<span ng-show="gearItem.purchaseCost != gearItem.totalPurchaseCost"> (${{gearItem.purchaseCost}} <span translate="GENERAL_EACH">each</span>)</span>  <span class="alert label" translate="GENERAL_REDUCED"></span>
											</div>
										</div>
										<div ng-show="gearItem.purchaseCost == gearItem.cost">
											${{gearItem.totalPurchaseCost}}
											<span ng-show="gearItem.purchaseCost != gearItem.totalPurchaseCost"> (${{gearItem.purchaseCost}} <span translate="GENERAL_EACH">each</span>)</span>
										</div>
									</td>
									<td>

										{{gearItem.totalWeight}}
											<span ng-show="gearItem.weight != gearItem.totalWeight"> ({{gearItem.weight}} <span translate="GENERAL_EACH">each</span>)</span>
									</td>
									<td class="text-right">
										<button class="button primary tiny radius no-bottom-margin" ng-click="removeMundane($index);" translate="GENERAL_REMOVE">Remove</button>
									</td>
								</tr>
									<tr ng-repeat-end>
										<td colspan="4" class="text-left">
											<label><input type="checkbox" ng-change="setDroppedDuringCombat('gear', $index,gearItem.droppedDuringCombat)"  ng-model="gearItem.droppedDuringCombat" /> <span translate="CHARGEN_DROP_ITEM_COMBAT">Drop item while in combat</span></label>
										</td>
									</tr>
							</tbody>
						</table>
					</div>

				</fieldset>
			</div>

		</div>


	</div>
	<div class="bottom-status-padding">&nbsp;</div>
</div>
