</div>
<div class="container gear-search-bar">
	<div class="row">
	  		<div class="small-12 columns">

<!-- 				<fieldset class="fieldset"> -->


					<h3 class="text-center" translate="CHARGEN_ADDING_ARMOR">Armor</h3>

					<a class="no-bottom-margin float-right button small primary" href="#/core/character-maker-armor" translate="GENERAL_CLOSE"></a>
					<label><span translate="CHARGEN_FILTER_GEAR">Search for Gear</span>: <input type="text" class="inline-block input-tighter-padding" ng-model="gearSearch.local_name" />
						<div class="inline-block item-added-message" ng-show="showAddedMessage" translate="CHARGEN_ITEM_ADDED_TO_INVENTORY"></div>
					</label>
				<!-- </fieldset> -->
			</div>
		</div>
</div>
<div class="gear-margin-top"></div>
<div class="container">
	  	<div class="row">
	  		<div class="small-12 columns">
				<table class="gear-list">
					<thead>
						<tr>
							<th translate="GENERAL_NAME"></th>
							<th translate="GENERAL_COST"></th>
							<th translate="GENERAL_WEIGHT"></th>
							<th translate="GENERAL_BOOK"></th>
							<th></th>
						</tr>
					</thead>
					<thead>
						<tr>
							<th colspan="4"><h4 translate="CHARGEN_ARMOR">Armor</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="gearItem in filteredArmor = ( savageCharacter.availableArmor | filter:gearSearch )">
							<td>{{gearItem.local_name}}</td>
							<td>${{gearItem.cost}}</td>
							<td>{{gearItem.weight}}</td>
							<td>{{gearItem.bookObj.local_name}}</td>
							<td class="text-right">
								<button class="button secondary tiny radius no-bottom-margin" ng-click="buyArmor(gearItem.book, gearItem.tag, true);" translate="GENERAL_BUY_FREE">Buy Free</button>
								<button class="button primary tiny radius no-bottom-margin" ng-click="buyArmor(gearItem.book, gearItem.tag, false);" translate="GENERAL_BUY">Buy</button>
							</td>
						</tr>
					</tbody>

					<thead>
						<tr>
							<th colspan="4"><h4 translate="CHARGEN_SHIELDS">Shields</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="gearItem in filteredShields = ( savageCharacter.availableShields | filter:gearSearch )">
							<td>{{gearItem.local_name}}</td>
							<td>${{gearItem.cost}}</td>
							<td>{{gearItem.weight}}</td>
							<td class="text-right">
								<button class="button secondary tiny radius no-bottom-margin" ng-click="buyShield(gearItem.book, gearItem.tag, true);" translate="GENERAL_BUY_FREE">Buy Free</button>
								<button class="button primary tiny radius no-bottom-margin" ng-click="buyShield(gearItem.book, gearItem.tag, false);" translate="GENERAL_BUY">Buy</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  	</div>
<div class="bottom-status-padding">&nbsp;</div>
<div ng-include="'pages/chargen-status-bar.html'"></div>