<div class="main-content">
	<div class="row">
		<div class="columns small-12 text-left">
			<fieldset class="fieldset">
				<legend translate="GENERAL_SETTINGS">Settings</legend>
<!--
				<label>
					<span translate="GENERAL_SELECT_LANGUAGE">Language Selection</span>: <br />
					<select ng-style="{'background-image': background_image_url }" class="language-select" ng-options="lang.label for lang in available_languages track by lang.id" ng-change="updateLanguage(users_language)" ng-model="users_language">
					</select>
				</label>
-->
				<label>
					<span translate="GENERAL_CHARGEN_PDF_LAYOUT">Character Sheet Layout</span>:<br />
					<select class="inline-block" ng-model="chargen_pdf_layout" ng-change="updateChargenPDF(chargen_pdf_layout)">
						<option value="portrait" translate="GENERAL_PORTRAIT">Portrait</option>
						<option value="landscape" translate="GENERAL_LANDSCAPE">Landscape</option>
					</select>
				</label>
			</fieldset>
		</div>
	</div>
</div>
